.btn {
  padding: 16px 32px;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--cor-p5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn:hover {
  background-image: linear-gradient(#fbb60d, #e59317);
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 16px;
  }
}
